venv/
.idea/
.vscode/
.env
.DS_Store

nafi_interactive_meetings/nafi_interactive_meetings/__pycache__/
nafi_interactive_meetings/media/

nafi_interactive_meetings/screencast/__pycache__/
nafi_interactive_meetings/screencast/migrations/

nafi_interactive_meetings/questions/__pycache__/
nafi_interactive_meetings/questions/migrations/

nafi_interactive_meetings/auth_system/__pycache__/
nafi_interactive_meetings/auth_system/migrations/

nafi_interactive_meetings/quiz/__pycache__/
nafi_interactive_meetings/quiz/migrations/
